body{
    background-color: rgb(215, 231, 250);
}
#country_name {
    text-transform: capitalize;
}
h1{
    font-size: 200%;
}
.box {
    margin-top: 2%;
    border: 2px solid;
    background-color: white;
    width: 200px;
    height: 200px;
}
.box > div > p {
    background-color: antiquewhite;
}

